@tailwind base;
@tailwind components;
@tailwind utilities;

.input-design {
  @apply w-full px-4 py-2 border rounded-[6px] focus:outline-none focus:ring-2 border-gray-300 focus:ring-blue-400;
}

.label-design {
  @apply block text-gray-600 font-medium;
}

/* .input-design {
  @apply px-3 py-2 border rounded-[4px] text-sm bg-white text-black focus:ring-2 focus:ring-primary w-full focus:outline-none;
} */
